---
import Mainlayout from "../layouts/Mainlayout.astro";
import Nav from "../components/Nav.astro";
import Velkommen from "../components/Velkommen.astro";
import Produkter from "../components/Produkter.astro";

import Anmeldelser from "../components/Anmeldelser.astro";
import Instagram from "../components/Instagram.astro";
import Footer from "../components/Footer.astro";

import Form from "../components/Form.astro";
import Testimonial from "../components/Testimonial.astro";

const url ="https://sklwitlqpafhgkejasif.supabase.co/rest/v1/Testimonials?approved=is.true";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNrbHdpdGxxcGFmaGdrZWphc2lmIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODE3MTUzNzIsImV4cCI6MTk5NzI5MTM3Mn0.WW_GsI2Z6doxxy4U0TKPROuEAgS1j6crQDuYPm0IdJ4";

const response = await fetch(url,{
	method: "GET",
	headers: {
		apikey: key,
		'Accept' :'application/json',
		'Content-Type' :'application/json'
	},
	
});
const udsagn = await response.json();

---
<Mainlayout>
	<body>	
<Nav/>
<Velkommen/>
<Produkter/>

<Form/>
<hr>
<h2>Seneste anmeldelser</h2>
<section class="anmeldelser">
    {
		udsagn.map((testimonial) => {
return <Anmeldelser overskrift = {testimonial.overskrift} text = {testimonial.text}/>
		})

		}
</section>

<hr>
<Menu/>
<Instagram/>
<Footer/>
</body>
</Mainlayout>

<style>

.anmeldelser{
   display: grid;
   gap: 20px;
   margin: 20px;
}
  @media (min-width: 700px) {
  .anmeldelser {
    grid-template-columns: repeat(3, 1fr);
  } }

  h2{
  display: grid;
  justify-items: center;
  font-size: 24px;
  font-weight: bold;
  margin: 1rem;
}
  
</style>