---
import Mainlayout from "../layouts/Mainlayout.astro";
import Nav from "../components/Nav.astro";
import Velkommen from "../components/Velkommen.astro";
import Produkter from "../components/Produkter.astro";
import Menu from "../components/Menu.astro";
import Anmeldelser from "../components/Anmeldelser.astro";
import Instagram from "../components/Instagram.astro";
import Footer from "../components/Footer.astro";

import Form from "../components/Form.astro";
import Testimonials from "../components/Testimonials.astro";
/* 
const url ="https://sklwitlqpafhgkejasif.supabase.co/rest/v1/Testimonials?approved=is.true";
    const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNrbHdpdGxxcGFmaGdrZWphc2lmIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODE3MTUzNzIsImV4cCI6MTk5NzI5MTM3Mn0.WW_GsI2Z6doxxy4U0TKPROuEAgS1j6crQDuYPm0IdJ4";

fetch(url, {
    method:"POST",
    headers:{
        apikey: key,
        'Accept':'application/json',
        'Content-Type':'application/json'
    },
    body:JSON.stringify({name,text,overskrift}),
})
 */
---




<Mainlayout>
	<body>
	<main>
<Nav/>

<Velkommen/>


<Produkter/>

<Anmeldelser/>

<!-- <Form/>
<section>
<ul>
	{
		udsagn.map((testimonial)) => { reurn <Testimonials name = {testimonials.name} overskrift{ testimonials.overskrift} text = {testimonials.text}

		}
	}
</ul>
</section> -->

<Menu/>
<Instagram/>
<Footer/>


</main>	
</body>
</Mainlayout>