---
import Mainlayout from "../layouts/Mainlayout.astro";
import Nav from "../components/Nav.astro";
import Velkommen from "../components/Velkommen.astro";
import Produkter from "../components/Produkter.astro";
import Menu from "../components/Menu.astro";
import Anmeldelser from "../components/Anmeldelser.astro";
import Instagram from "../components/Instagram.astro";
import Footer from "../components/Footer.astro";
---


<Mainlayout>
	<body>
	<main>
<Nav/>

<Velkommen/>


<Produkter/>

<Anmeldelser/>
<Menu/>
<Instagram/>
<Footer/>


</main>	
</body>
</Mainlayout>