---
import Mainlayout from "../layouts/Mainlayout.astro";
import Nav from "../components/Nav.astro";
import Velkommen from "../components/Velkommen.astro";
import Produkter from "../components/Produkter.astro";
import Anmeldelser from "../components/anmeldelser.astro";

---


<Mainlayout>
	<body>
	<main>
<Nav/>

<Velkommen/>

<Produkter/>

<Anmeldelser/>




</main>	
</body>
</Mainlayout>