---
const {overskrift, text} = Astro.props; 
---

  <div class="testimonial"> <img src="/stjerner.webp" alt=""> <p> <b>{overskrift} </b> <br>
    <i>{text}</i> 
    </p></div> 
<style>



  hr{
    border: none;
    border-bottom: 1px solid #D9D9D9;
    margin: 2rem;
  }



.testimonial{
    display: grid;
    justify-items: center;
    background-color: #EDE9DF;
    padding: 1rem;
}

    p{
       
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        font-size: 14px;
    }

    @media (min-width: 700px) {
  section {
    grid-template-columns: repeat(3, 1fr);
  }

  p{
    font-size: 16px;
  }
}
</style>