---

---
<form>
    <label for="name">Navn:</label>
    <input type="text" name="name" required>
    <label for="overskrift">Overskrift</label>
    <input type="text" name="overskrift" required>
    <label for="text">Tekst:</label>
    <input type="text" name="text" required>
    <button>SEND</button>
</form>