---

---

<section>
    <h2>find os på instagram</h2>
    <div>
<img src="insta1.png" alt="">
<img src="insta2.png" alt="">
<img src="insta3.png" alt="">
    </div>


</section>

<style>

   div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1.2rem;
    
   }
   img{
    max-width: 100%;
   }

    h2{
        color: var(--color);
        font-weight: 400;
        text-align: center;
        margin-top: 1.3rem ;
    }
    section{
       background-color: #234E47 ; 
       padding: 1.3rem;
    }
</style>