---

---


<section id="findOs">
    <h2>find os på instagram</h2>
    

<div class="instagram">
<a href="https://www.instagram.com/omada.wine/"> <img src="insta3.webp" alt="Paplo og kunde foran en vin væg"> </a>
<a href="https://www.instagram.com/omada.wine/"> <img src="insta4.webp" alt="illustreret tapas platte"> </a> 
<a href="https://youtube.com/shorts/gtTgCZresk0?feature=share"> <img src="insta5.webp" alt="Stopmotion video"> </a> 
</div>

</section>

<style>

   .instagram{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;   
    padding-bottom: 1.4rem;
   }

   img{
    max-width: 100%;
   }

    h2{
        color: var(--color);
        font-weight: 400;
        text-align: center;
        margin-top: 1.3rem ;
    }
    #findOs{
       background-color: #234E47 ; 
       padding: 1.3rem;
    }

</style>