---

---

<h2>MENU</h2>

<section>
<div> <p>

Vin på glas <br>
fra kr. 70 ,- <br> <br>

Vin på karaffel <br>
kr. 210 ,- <br> <br>

Vin på flaske hyldepris+prop <br>
 kr. 150 ,- <br> <br>

Filterkaffe <br>
kr. 30 ,- <br> <br>

Dobbelt espresso <br>
kr. 35 ,- <br> <br>

Æblemost <br>
kr. 40 ,- <br> <br>

    </p> </div>
    <div> <p>
        Tapas platte <br>
kr. 250 ,- <br> <br>

Surdejsbrød m. olivenolie <br>
kr. 50,- pr. servering <br> <br>

Straciaella af friskost <br>
kr. 50 ,- pr.servering <br> <br>

Lufttørret skinke +6 måneder <br>
kr. 120,- pr servering <br> <br>

Lufttørret skinke +12 måneder <br>
kr. 120,- pr servering <br> <br>

Lufttørret salami <br>
kr. 100,- pr. servering <br> <br>

Kartoffelchips <br>
kr. 35,- <br> <br>

            </p> </div>

            <img src="/tapas.png" alt="">

</section>

<style>
    p{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.2;
    }
   
</style>