---

---

<h2>MENU</h2>

<section class="menu">

<img src="/tapas.png" alt="" style="margin: auto;">

<div class="tekst">  <div>
    <h3>At drikke</h3>
     <p>
Vin på glas <br>
fra kr. 70 ,- <br> <br>

Vin på karaffel <br>
kr. 210 ,- <br> <br>

Vin på flaske hyldepris+prop <br>
 kr. 150 ,- <br> <br>

Filterkaffe <br>
kr. 30 ,- <br> <br>

Dobbelt espresso <br>
kr. 35 ,- <br> <br>

Æblemost <br>
kr. 40 ,- <br> <br>

    </p> </div>
 
    <div> 
        <h3>At spise</h3> <p>
         Tapas platte <br>
     kr. 250 ,- <br> <br>
     
     Surdejsbrød m. olivenolie <br>
     kr. 50,- pr. servering <br> <br>
     
     Straciaella af friskost <br>
     kr. 50 ,- pr.servering <br> <br>
     
     Lufttørret skinke +6 måneder <br>
     kr. 120,- pr servering <br> <br>
     
     Lufttørret skinke +12 måneder <br>
     kr. 120,- pr servering <br> <br>
     
     Lufttørret salami <br>
     kr. 100,- pr. servering <br> <br>
     
     Kartoffelchips <br>
     kr. 35,- <br> <br>
     
             </p> </div> </div>  
           

</section>



<style>
    h2{
        text-align: center;
        font-size: 1.8rem;
        font-weight: 600;
        
    }

    h3{
        text-align: center;
        font-size: 1.3rem;
    }
       .menu{
        display: grid;
        grid-template-columns: 1fr ;
        margin: 0 5% 0 5%;
        
    }

    img , .tekst {
        grid-area: 1/1;
        
    }

    .tekst{ place-self: center center;
    display: grid;
grid-template-columns: 1fr 1fr;
gap:5rem;
 }

    img{
        max-width: 100%;
        object-fit: cover;
       opacity: 70%;
    } 

    p{
        text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.2;
  font-size: 1rem;
    }

    @media screen and (min-width: 700px){
        p{

  font-size: 1.3rem;
    } 
    }


</style>