---

---
<header>
    <nav>
       <div class="logo"><a href="/index">OMADA.DEIL</a></div>
       <div class="burger-menu">&#9776;</div>
      <ul class="menu">
        <li><a href="/">WINES</a></li>
        <li><a href="">WINEMAKERS</a></li>
        <li><a href="">REGIONS</a></li>
        <li><a href="">SUBSCRIPTION</a></li>
        <li><a href="">BOXES</a></li>
        <li><a href="">SOCIAL CLUB</a></li>
        <li><a href="">GIFT CARD</a></li>
        <li><a href="">DELI</a></li>
      </ul>
      
    </nav>
  </header>
  
  <style>

/* Desktop menu styling */

.logo{
display: flex;
justify-content: center;
padding: 4px;
}
.logo a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 30px;
}
.menu {
  display: flex;
  justify-content: left;
  align-items: left;
  font-family: ;
  font-size: 14px;
  color: black;
}

.menu li {
  margin: 0 20px;
  list-style-type: none;
}

li a {
    font-family: aviano-sans,sans-serif;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
}

/* Mobile menu styling */
.burger-menu {
  display: none;
  font-size: 28px;
  color: black;
}

@media screen and (max-width: 1000px) {
  
    .logo a{
    font-size: 22px;
}
    .menu {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  /* Mobile menu expanded styling */

  .menu.active {
    display: block;
    background-color:;
    text-align: left;
    z-index: 1;
  }

  .menu.active li {
    display: block;
    margin: 20px 0;
  }
}


  </style>

  <script>
const burgerMenu = document.querySelector('.burger-menu');
const menu = document.querySelector('.menu');

burgerMenu.addEventListener('click', function() {
  burgerMenu.classList.toggle('active');
  menu.classList.toggle('active');
});

const menuItems = document.querySelectorAll('.menu li');

menuItems.forEach(function(item) {
  item.addEventListener('click', function() {
    burgerMenu.classList.remove('active');
    menu.classList.remove('active');
  });
});

  </script>