---

---
<h2>POPULÆRE PRODUKTER</h2>

<section>
    <img src="/img1.png" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
</section>

<style>
    section{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
</style>