---

---
<h2>POPULÆRE PRODUKTER</h2>

<section>
    <img src="/img1.png" alt="">
    <img src="/img2.png" alt="">
    <img src="/img3.png" alt="">
    <img src="/img4.png" alt="">
    <img src="/img5.png" alt="">
    <img src="/img8.png" alt="">
</section>

<style>
    section{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    img{
        max-width: 100%;
    }

    section :nth-child(1){
        margin-bottom: 10px;
    }
</style>