---

---
<h2>POPULÆRE PRODUKTER</h2>

<section>
<div><img src="/ansjosRedigeret.webp" alt=""> <p class="orange">Gamay</p>
        <p>Kaffe - Gamay of the morning <br> DKK 98.00 -  DKK 298.00 </p></div>
<div><img src="/coffeeRedigeret.webp" alt=""> <p class="orange">Gamay</p>
        <p>Kaffe - Gamay of the morning <br> DKK 98.00 -  DKK 298.00 </p></div>
<div><img src="/juiceRedigeret.webp" alt=""> <p class="orange">Gamay</p>
        <p>Kaffe - Gamay of the morning <br> DKK 98.00 -  DKK 298.00 </p></div>
<div><img src="/makrelRedigeret.webp" alt=""> <p class="orange">Gamay</p>
        <p>Kaffe - Gamay of the morning <br> DKK 98.00 -  DKK 298.00 </p></div>
<div><img src="/wineRedigeret.webp" alt=""> <p class="orange">Gamay</p>
        <p>Kaffe - Gamay of the morning <br> DKK 98.00 -  DKK 298.00 </p></div>
<div><img src="/wineRedigeret.webp" alt=""><p class="orange">Gamay</p>
        <p>Kaffe - Gamay of the morning <br> DKK 98.00 -  DKK 298.00 </p></div>            
</section>

<style>
  
  p{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .orange{
    color: #F86150;
  }
  h2{
    display: grid;
    justify-items: center;
  }

    img{
        max-width: 100%;
        height: auto; 
     }


     section {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 250px));
  gap: 17px;
  justify-content: center;
}

@media (min-width: 700px) {
  section {
    grid-template-columns: repeat(3, minmax(150px, 250px));
  }
}

</style>