---

---
<h2>POPULÆRE PRODUKTER</h2>

<section>
<div class="produkt"><img src="/ansjosRedigeret.webp" alt=""> <p class="orange">Gamay</p>
        <p>Kaffe - Gamay of the morning <br> DKK 98.00 -  DKK 298.00 </p></div>
<div class="produkt"><img src="/coffeeRedigeret.webp" alt=""> <p class="orange">Gamay</p>
        <p>Kaffe - Gamay of the morning <br> DKK 98.00 -  DKK 298.00 </p></div>
<div class="produkt"><img src="/juiceRedigeret.webp" alt=""> <p class="orange">Gamay</p>
        <p>Kaffe - Gamay of the morning <br> DKK 98.00 -  DKK 298.00 </p></div>
<div class="produkt"><img src="/makrelRedigeret.webp" alt=""> <p class="orange">Gamay</p>
        <p>Kaffe - Gamay of the morning <br> DKK 98.00 -  DKK 298.00 </p></div>
<div class="stop"><img src="/stop25.jpg" alt=""> 
        <p id="shopMere">SHOP DELI</p></div>
<div class="produkt"><img src="/wineRedigeret.webp" alt=""><p class="orange">Gamay</p>
        <p>Kaffe - Gamay of the morning <br> DKK 98.00 -  DKK 298.00 </p></div>            
</section>

<style>

  
  
  #shopMere{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    color: var(--color);
  }
  .stop{
    background-color: #D83933;
  
  }
.produkt p{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .orange{
    color: #F86150;
    
  }
  h2{
    display: grid;
    justify-items: center;
    font-weight: bold;
    font-size: 24px;
  }

    img{
        max-width: 100%;
        height: auto; 
     }


     section {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 250px));
  gap: 17px;
  justify-content: center;
}

@media (min-width: 700px) {
  section {
    grid-template-columns: repeat(3, minmax(150px, 250px));
  }
}

</style>