---
const {overskrift, name, text} = Astro.props; 
---

    <div class="testimonial"> <img src="/stjerner.webp" alt=""> <p> <b>{overskrift} </b> <br>
        <i>{text}</i> 
        </p></div> 
    

<style>

    
</style>